$primary: #28b6cf;
$secondary: #42dbb9;
$body-color: #fff;
$body-bg: #131313;

@import "./custom.scss";
@import "../node_modules/bootstrap";

.container-fluid {
  background-color: $dark-bg;
}

header {
  background-color: $dark-bg-soft;
}

header .dropdown-toggle::after {
  display: none;
}
