$primary: #28b6cf;
$secondary: #42dbb9;
$body-color: #fff;
$body-bg: #131313;
$table-header-color: #fff;
$nav-link-color: #fff;

@import "../node_modules/bootstrap";

@import "./custom.scss";

.table thead th {
  color: $table-header-color;
}

.container-fluid {
  background-color: $dark-bg;
}

header,
footer {
  background-color: $dark-bg-soft;
}

header .dropdown-toggle::after {
  display: none;
}

a {
  text-decoration: none;
}

.nav-link.active {
  color: $primary;
}

.dropdown-item:hover {
  background-color: transparent;
  color: $primary;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid $primary;
}
